# node config
node_modules

#IDE config
.vscode/
.vs/
*.code-workspace
*.swp
*.vim

#build files
build/
dist/

#test files
coverage/

#cpp linux test files
cppsrc/linux/**/Makefile
cppsrc/linux/out

#bin files
*.tgz
*.a
*.o
*.exe

# documentation files
docs/
