# node config
/node_modules/
package-lock.json

#IDE config
.vscode/
.vs/

#build files
build/
addons/sound-mixer/*
!addons/sound-mixer/*.ts
!addons/sound-mixer/index.js
!addons/sound-mixer/package.json
dist/

#test files
test/
jest.config.js
coverage/
