#node modules
node_modules/

#build
build/
addons/sound-mixer/*
!addons/sound-mixer/package.json
!addons/sound-mixer/index.js
!addons/sound-mixer/*.ts
dist/

#config files
.vs/
.vscode/

#git files
.git/
.gitignore

#test files
test/
coverage/
